#addpost-frame{
    margin-left: 50px;
}
#addpost-form{
    margin-top: 50px;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#addpost-submit{
    margin-right: auto;
}
#addpost-input{
    width: 500px;
    height: auto;
    margin-right: auto;
    padding-bottom: 20px;
    border: 1px solid grey;
}