#root{
    min-width: 480px;
}

.posts{
    background-color: aliceblue;
    border: 2px solid rgb(32, 32, 110);
    width: 70%;
    margin-top: 20px;
    margin-left: 20px;
}
.posts-padding{
    padding: 10px;
}
.posts-content ul{
    list-style-type: none;
    padding-left: 0px;
}
.post{
    background-color: antiquewhite;
    border: 2px solid rgb(32, 32, 110);
    width: 70%;
    margin-top: 20px;
    margin-left: 20px;
}
.post-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post-content{
    padding-bottom: 15px;
}
.post-reviews{
    border-top: 2px solid black;
}
.post-reviews-row{
    display: flex;
    flex-direction: row;
    padding-left: 15px;
}
.likes-dislikes{
    margin-top: 15px;
    margin-right: 20px;
    display: flex;
    width: 80px;
    height: 20px;
    justify-content: space-between;
}
.likes-dislikes p{
    font-weight: 500;
}
.post-like{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post-dislike{
    display: flex;
    flex-direction: row;
}
.comments{
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
    margin-right: 50px;
}
.comments a{
    color: black;
}
.like-icon{
    margin-bottom: 2px;
}
.dislike-icon{
    margin-top: 4px;
}
.comments-section{
    display: none;
}
.comment{
    display: flex;
    flex-direction: row;
    border:rgb(32, 32, 110) solid 2px;
    margin-bottom: 5px;
}
.comment-profile-picture{
    width: 50px;
    height: 50px;
}

.delete-comment{
    margin-left: auto;
}