.navbar{
    margin-left: auto;
    padding: 10px;
    font-weight: 700;
}

.navbar a{
    padding: 5px;
    text-decoration: none;
    color: rgb(32, 32, 110);
    border: solid 3px rgb(230, 70, 70);
}

.top{
    display: flex;
    justify-content: space-between;
}

.options-icon{
    width: 35px;
    height: 35px;   
    padding: 10px;
}

.options-button{
    width: 10px;
    height: 10px;
}

#search-list{
    list-style: none;
    border: none;
    padding: 0px;
}

#search-list a{
    text-decoration: none;
}

#search-list li:hover{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#search-form:hover #search-list{
    border: 1px solid grey;
    border-top: none;
}

.searchbar{
    margin-left: 50px;
    margin-bottom: 50px;
}